# Maven
target/
*.class

# IntelliJ
.idea/
*.iml
*.ipr
out/

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# AWS
.aws/

# Environment variables
.env
response.json
